body {
    background-color: #18f0ca;
    height: 100%;
}
html{
    height: 100%;
}
body, div, p {
    padding: 0;
    margin: 0 auto;
}

nav, ul, li {
    padding: 0;
    margin: 0;
    }
nav {
    position: relative;
    left: 10%;
    top: 20px;
    width: 80%;
    height: 60px;
    background-color: #66CCFF;
    box-sizing: border-box;
    display: inline-block;
    }
ul {
    width: 100%;
    height: 60px;
    vertical-align: middle;
    }
li {
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    color: #000000;
    transition: color 0.4s ease-in-out;
    }
li:hover { color: #FFFFFF;}
.move {
    display: inline-block;
    border: 4px solid #FF3333;
    height: 0px;
    background-color: #FF3333; 
    position: absolute;
    left: 0;
    top: 56px;
    transition: left 0.4s ease-in-out;
      }
li:nth-child(1):hover~.move {left: 0;}
li:nth-child(2):hover~.move {left: 20%;}
li:nth-child(3):hover~.move {left: 40%;}
li:nth-child(4):hover~.move {left: 60%;}

#nav-logo{
    width:60px;
}

.top-nav-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    color: blue;
}

.left-bar{

    display: inline;
    position: relative;
    z-index: -100;
    left: 5%;
    right: 35%;

}
.content{

    display: inline;
    position: relative;
    left:10%;
    
    

}
.main{
    position: relative;
    top:50px;
    width: 90%;
    margin: 0 auto;
}


.footer{
    margin-top: -40px;
    height:40px;
    background-color:#eee;
    position: relative;
    left: 10%;
    width: 80%;
}

.wrap{
    min-height: 100%;
}
.main-all{
    padding-bottom: 40px;
    overflow: hidden;
}

/* all above for the index.html */


.table4{
    text-align: center;
    margin: 0 auto;
    border: 1px crimson;
    text-indent: 10px;
    position: relative;
    top:50px;
}

.col1{
    font-family: "Source Code Pro",sans-serif;
    font-size: 23px;
    color: darkorange;
    text-align: right;
}
.col2{
    font-family: "Source Code Pro",sans-serif;
    font-size: 23px;
    color: darkorange;
    text-align: left;
}
#about_me{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: crimson;
}
#or1{
    font-family: Cambria,sans-serif;
    font-size: 38px;
    color: crimson;
    text-align: center;
}
#form1{
    align-content: center;
    text-align: center;
    position: relative;
    top: 100px;
    height: 300px;

}
.form-text{
    font-family: 'Courier New', Courier, monospace;
    color:darkslategrey;
    text-align: center
}