body {
    background-color: #18f0ca;
}
body, div, p {
    padding: 0;
    margin: 0 auto;
}
div {
    border: 0px solid lawngreen;
}
.top-nav {
    height: 128px;
    width: 1920px;
    margin: 0 auto;
}
.main{
    width: 290px;
    margin: 0 auto;
    overflow: hidden;
}
.footer{
    margin: 0 auto;
}
#table1{
    width: 1900px;
    height: 98px;
}
.butn {
    width: 90px;
    background: #2be21a;
    border-radius: 10px;
    font-family: Arial;
    color: black;
    font-size: 28px;
    padding: 10px 28px 10px 28px;
    text-decoration: none;
}
.butn:hover {
    background: #3cb0fd;
    text-decoration: none;
}
.wid{
    width: 274px;
    border: black 2px;
    text-align: center;
}
#footer1{
    font-size: 26px;
    text-align: -moz-left;
}
#form1{
    align-content: center;
    text-align: center;
}
.table4{
    text-align: center;
    margin: 0 auto;
    border: 1px crimson;
    text-indent: 10px;
}
#about_me{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: crimson;
}
.col1{
    font-family: "Source Code Pro",sans-serif;
    font-size: 23px;
    color: darkorange;
    text-align: right;
}
.col2{
    font-family: "Source Code Pro",sans-serif;
    font-size: 23px;
    color: darkorange;
    text-align: left;
}
#or1{
    font-family: Cambria,sans-serif;
    font-size: 38px;
    color: crimson;
    text-align: center;
}