body {
    background-color: #18f0ca;
}
body, div, p {
    padding: 0;
    margin: 0 auto;
}

nav, ul, li {
    padding: 0;
    margin: 0;
    }
nav {
    position: relative;
    left: 10%;
    top: 20px;
    width: 80%;
    height: 60px;
    background-color: #66CCFF;
    box-sizing: border-box;
    display: inline-block;
    }
ul {
    width: 100%;
    height: 60px;
    vertical-align: middle;
    }
li {
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    color: #000000;
    transition: color 0.4s ease-in-out;
    }
li:hover { color: #FFFFFF;}
.move {
    display: inline-block;
    border: 4px solid #FF3333;
    height: 0px;
    background-color: #FF3333; 
    position: absolute;
    left: 0;
    top: 56px;
    transition: left 0.4s ease-in-out;
      }
li:nth-child(1):hover~.move {left: 0;}
li:nth-child(2):hover~.move {left: 20%;}
li:nth-child(3):hover~.move {left: 40%;}
li:nth-child(4):hover~.move {left: 60%;}

#nav-logo{
    width:60px;
}

.top-nav-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

.left-bar{

    display: inline;
    position: relative;
    z-index: -100;
    left: 5%;
    right: 35%;

}
.content{

    display: inline;
    position: relative;
    left:10%;

}
.main{
    position: relative;
    top:50px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

#br-index-footer{
    position: relative;
    bottom:40px;
}

.butn {
    width: 90px;
    background: #2be21a;

    border-radius: 10px;
    font-family: Arial;
    color: black;
    font-size: 28px;
    padding: 10px 28px 10px 28px;
    text-decoration: none;
}
.butn:hover {
    background: #3cb0fd;
    text-decoration: none;
}
.wid{
    width: 274px;
    border: black 2px;
    text-align: center;
}
#footer1{
    font-size: 26px;
    text-align: left;
    position: relative;
    left: 96px;
    top: 90%;
}